body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.file-section {
    flex: 1;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 33%;
}
.file-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.file-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.file-section th, .file-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.file-section th {
    background-color: #007bff;
    color: #fff;
}
.analysis-section {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
#exportButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
#exportButton:hover {
    background-color: #0056b3;
}
#analyzeButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
#analyzeButton:hover {
    background-color: #0056b3;
}
.table-container {
    overflow-x: auto;
    max-height: 400px; /* ограничить высоту таблицы, если много строк */
}
#analysisTable th {
    background-color: #28a745;
}